<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/bootstrap_3.3.0/css/bootstrap.min.css">
	<script src="/static/jquery/jquery-1.11.1-min.js"></script>
	<script src="/static/bootstrap_3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		//页面加载完毕
		$(function () {

			//导航中所有文本颜色为黑色
			$(".liClass > a").css("color", "black");

			//默认选中导航菜单中的第一个菜单项
			$(".liClass:first").addClass("active");

			//第一个菜单项的文字变成白色
			$(".liClass:first > a").css("color", "white");

			//给所有的菜单项注册鼠标单击事件
			$(".liClass").click(function () {
				//移除所有菜单项的激活状态
				$(".liClass").removeClass("active");
				//导航中所有文本颜色为黑色
				$(".liClass > a").css("color", "black");
				//当前项目被选中
				$(this).addClass("active");
				//当前项目颜色变成白色
				$(this).children("a").css("color", "white");
			});

			window.open("/select.html?pagesize=20&current_page=1", "workareaFrame");

		});
	</script>

</head>

<body>

	<!-- 我的资料 -->
	<div class="modal fade" id="myInformation" role="dialog">
		<div class="modal-dialog" role="document" style="width: 30%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">我的资料</h4>
				</div>
				<div class="modal-body">
					<div style="position: relative; left: 40px;">
						姓名：<b>彩虹雨</b><br><br>
						登录帐号：<b>rainbow</b><br><br>
						生日：<b>1996-09-16</b><br><br>
						邮箱：<b>1150646501@qq.com</b><br><br>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 修改密码的模态窗口 -->
	<div class="modal fade" id="editPwdModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 70%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">修改密码</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="oldPwd" class="col-sm-2 control-label">原密码</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="oldPwd" style="width: 200%;">
							</div>
						</div>

						<div class="form-group">
							<label for="newPwd" class="col-sm-2 control-label">新密码</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="newPwd" style="width: 200%;">
							</div>
						</div>

						<div class="form-group">
							<label for="confirmPwd" class="col-sm-2 control-label">确认密码</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="confirmPwd" style="width: 200%;">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						onclick="window.location.href='../login.html';">更新</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 退出系统的模态窗口 -->
	<div class="modal fade" id="exitModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 30%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">离开</h4>
				</div>
				<div class="modal-body">
					<p>您确定要退出系统吗？</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						onclick="window.location.href='../login.html';">确定</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 顶部 -->
	<div id="top" style="height: 50px; background-color: #3C3C3C; width: 100%;">
		<div
			style="position: absolute; top: 5px; left: 0px; font-size: 30px; font-weight: 400; color: white; font-family: 'times new roman'">
			CRUD &nbsp;<span style="font-size: 12px;">&copy;2020&nbsp;南风轻语</span></div>
		<div style="position: absolute; top: 15px; right: 15px;">
			<ul>
				<li class="dropdown user-dropdown">
					<a href="javascript:void(0)" style="text-decoration: none; color: white;" class="dropdown-toggle"
						data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span> rainbow <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="../settings/index.html"><span class="glyphicon glyphicon-wrench"></span> 系统设置</a>
						</li>
						<li><a href="javascript:void(0)" data-toggle="modal" data-target="#myInformation"><span
									class="glyphicon glyphicon-file"></span> 我的资料</a></li>
						<li><a href="javascript:void(0)" data-toggle="modal" data-target="#editPwdModal"><span
									class="glyphicon glyphicon-edit"></span> 修改密码</a></li>
						<li><a href="javascript:void(0);" data-toggle="modal" data-target="#exitModal"><span
									class="glyphicon glyphicon-off"></span> 退出</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<!-- 中间 -->
	<div id="center" style="position: absolute;top: 50px; bottom: 30px; left: 0px; right: 0px;">

		<!-- 导航 -->
		<div id="navigation" style="left: 0px; width: 10%; position: relative; height: 100%; overflow:auto;">

			<ul id="no1" class="nav nav-pills nav-stacked">
				<li class="liClass"><a href="/select.html" target="workareaFrame"><span
							class="glyphicon glyphicon-home"></span> 限界统表</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-tag"></span> 等待开发</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-time"></span> 等待开发</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-user"></span> 等待开发</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-play-circle"></span> 等待开发</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-search"></span> 等待开发</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-user"></span> 等待开发</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-earphone"></span> 等待开发</a></li>
				<!-- <li class="liClass"><a href="transaction/index.html" target="workareaFrame"><span
							class="glyphicon glyphicon-usd"></span> 二手交易</a></li>
				<li class="liClass"><a href="visit/index.html" target="workareaFrame"><span
							class="glyphicon glyphicon-phone-alt"></span> 教室预定</a></li>
				<li class="liClass">
					<a href="#no2" class="collapsed" data-toggle="collapse"><span
							class="glyphicon glyphicon-stats"></span> 社团活动</a>
					<ul id="no2" class="nav nav-pills nav-stacked collapse">
						<li class="liClass"><a href="chart/activity/index.html"
								target="workareaFrame">&nbsp;&nbsp;&nbsp;<span
									class="glyphicon glyphicon-chevron-right"></span> 校学生会</a></li>
						<li class="liClass"><a href="chart/clue/index.html"
								target="workareaFrame">&nbsp;&nbsp;&nbsp;<span
									class="glyphicon glyphicon-chevron-right"></span> 篮球俱乐部</a></li>
						<li class="liClass"><a href="chart/customerAndContacts/index.html"
								target="workareaFrame">&nbsp;&nbsp;&nbsp;<span
									class="glyphicon glyphicon-chevron-right"></span> 轮滑社团</a></li>
						<li class="liClass"><a href="chart/transaction/index.html"
								target="workareaFrame">&nbsp;&nbsp;&nbsp;<span
									class="glyphicon glyphicon-chevron-right"></span> 太极社</a></li>
					</ul>
				</li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-file"></span> 网上报考</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-shopping-cart"></span>校园资源</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-send"></span> 愿望清单</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-earphone"></span> 幸运角落</a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-leaf"></span>国外友人 </a></li>
				<li class="liClass"><a href="javascript:void(0);" target="workareaFrame"><span
							class="glyphicon glyphicon-usd"></span> 校园宣讲</a></li> -->
			</ul>

			<!-- 分割线 -->
			<div id="divider1"
				style="position: absolute; top : 0px; right: 0px; width: 1px; height: 100% ; background-color: #B3B3B3;">
			</div>
		</div>

		<!-- 工作区 -->
		<div id="workarea" style="position: absolute; top : 0px; left: 10%; width: 90%; height: 100%;">
			<iframe style="border-width: 0px; width: 100%; height: 100%;" name="workareaFrame"></iframe>
		</div>

	</div>

	<div id="divider2" style="height: 1px; width: 100%; position: absolute;bottom: 30px; background-color: #B3B3B3;">
	</div>

	<!-- 底部 -->
	<div id="down" style="height: 30px; width: 100%; position: absolute;bottom: 0px;"></div>

</body>

</html>