<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <link href="/static/bootstrap_3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href="/static/css/pub_css.css" rel="stylesheet" type="text/css" /> -->
    <script src="/static/jquery/jquery-1.11.1-min.js" type="text/javascript"></script>
    <script src="/static/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="/static/bootstrap_3.3.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/pub_js.js" type="text/javascript"></script>
    <style>
        .table {
            margin-bottom: -1px;

            table-layout: auto;

        }
    </style>
    <script type="text/javascript">
        $(function () {

            //删除
            $.delete = function (index) {
                var checked_boxs = $("#tbody :checked");
                var delete_ids = "";
                if (checked_boxs.length < 1) {
                    alert("至少选择一条数据");
                } else {
                    checked_boxs.each(function () {
                        delete_ids += $(this).val() + "_";

                    });
                    var real_do = confirm("确认删除");
                    if (real_do == true) {
                        $.get(
                            "/" + index + "/delete/", {
                                delete_ids: delete_ids,
                            },
                            function (data, status) {
                                $(window).attr("location", "/" + index +
                                    "/select.html/?select_receive_people=" + $.cookie('user'));
                            }
                        );
                    } else {}
                }
            };


            // 自定义函数
            $.func = {

                //第几页url
                currentPageHref: function (current_page) {
                    let select_items = ['pn', 'part_name', 'car_type', 'use', 'receive_date',

                        'receive_people',
                    ]
                    let herf_head = "/one/select.html?current_page=" + current_page + "&pagesize=30"
                    let herf_body = "";
                    for (let i = 0; i < select_items.length; i++) {
                        let parameter = "&select_" + select_items[i] + "=" + $("#select_" +
                            select_items[i]).val();
                        herf_body += parameter;
                    }
                    let herf = herf_head + herf_body;
                    console.log(herf)

                    $(window).attr("location", herf);
                },

                // 每页显示多少条记录url
                pagesizeHref: function (page_size) {
                    let select_items = ['pn', 'part_name', 'car_type', 'use', 'receive_date',
                        'receive_people',
                    ]
                    let herf_head = "/one/select.html?current_page=1" + "&pagesize=" + page_size;
                    let herf_body = "";
                    for (i = 0; i < select_items.length; i++) {
                        let parameter = "&select_" + select_items[i] + "=" + $("#select_" +
                            select_items[i]).val();
                        herf_body += parameter;
                    }
                    let herf = herf_head + herf_body;
                    $(window).attr("location", herf);
                },



                //检查添加表单
                check_add_form: function () {
                    $('#add_calculate').click()
                    let required_items = ['pn', 'send_people', "batch", "send_people",
                        "part_name", "contact", "car_type", "save_count", "producer",
                        "receive_people", "use"
                    ]
                    for (i = 0; i < required_items.length; i++) {
                        let value = $.trim($('#add_' + required_items[i]).val())
                        if (value == '') {
                            alert('请完善*标数据')
                            return false
                        }
                        if ($('#add_save_count').val() == 0) {
                            alert('库存数量不能为0')
                            return false
                        }
                    }

                    return true
                },

                //检查修改表单
                check_update_form: function () {
                    $('#update_calculate').click()
                    let required_items = ['pn', ]
                    for (i = 0; i < required_items.length; i++) {
                        let value = $.trim($('#update_' + required_items[i]).val())
                        if (value == '') {
                            alert('请完善*标数据')
                            return false
                        }
                    }
                    return true
                },

            }

            //设置删除
            $.set_delete = function () {
                // alert($.cookie("can_delete"))
                if ('True' != $.cookie("can_delete")) {
                    $('#delete').hide()
                    // $('#updateModalBtn').hide()
                }
                if ('True' != $.cookie('only1')) {
                    $('#update_pn').attr('readonly', 'readonly')
                    $('#update_part_name').attr('readonly', 'readonly')
                    $('#update_contact').attr('readonly', 'readonly')
                    $('#update_save_count').attr('readonly', 'readonly')
                    $('#update_part_name').attr('readonly', 'readonly')
                    $('#update_deal_count').attr('readonly', 'readonly')
                    $('#update_car_type').attr('readonly', 'readonly')
                    $('#update_producer').attr('readonly', 'readonly')
                    $('#update_deal_mode').attr('readonly', 'readonly')
                    $('#update_receive_date').attr('readonly', 'readonly')
                    $('#update_deal_remark').attr('readonly', 'readonly')
                    $('#update_deal_date').attr('readonly', 'readonly')
                    $('#update_batch').attr('readonly', 'readonly')
                    $('#update_send_people').attr('readonly', 'readonly')

                }

            };
            $.set_delete()

            // 设置滚动条
            $.set_scroll()

            //设置权限
            $.set_authority()

            //设置用户
            $.set_user = function () {
                // alert($.cookie("user"))
                if ('undefined' != $.cookie("user")) {
                    $('#add_receive_people').val($.cookie("user"))
                    $('#add_curretn_user').val($.cookie("user"))
                    $('#update_curretn_user').val($.cookie("user"))
                    $('#baofei_curretn_user').val($.cookie("user"))


                }
                if ($.cookie("is_login") != 'True') {
                    $(window).attr("location", '/login.html/');
                }

            };
            $.set_user()

            // 默认当前日期
            $.set_date = function () {

                // 给input  date设置默认值
                var now = new Date();
                //格式化日，如果小于9，前面补0
                var day = ("0" + now.getDate()).slice(-2);
                //格式化月，如果小于9，前面补0
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                //拼装完整日期格式
                var today = now.getFullYear() + "-" + (month) + "-" + (day);
                //完成赋值
                $('#add_receive_date').val(today);


                $('#scrap_deal_date').val(today)
            }
            $.set_date()


            //修改按钮
            $('#updateModalBtn').click(function () {
                var checked_boxs = $("#tbody :checked")
                var update_id = ''
                if (checked_boxs.length != 1) {
                    alert('请选择一条数据')
                } else {
                    checked_boxs.each(function () {
                        update_id += $(this).val()
                    })
                    $.get('/one/select_for_update/', {
                        update_id: update_id,
                    }, function (data, status) {
                        $('#update_sn').val(data['src_update_sn'])
                        $('#update_pn').val(data['src_update_pn'])
                        $('#update_part_name').val(data['src_update_part_name'])
                        $('#update_car_type').val(data['src_update_car_type'])
                        $('#update_producer').val(data['src_update_producer'])
                        $('#update_receive_date').val(data['src_update_receive_date'])
                        $('#update_batch').val(data['src_update_batch'])
                        $('#update_send_people').val(data['src_update_send_people'])
                        $('#update_contact').val(data['src_update_contact'])
                        $('#update_deal_count').val(data['src_update_deal_count'])
                        $('#update_receive_people').val(data['src_update_receive_people'])
                        $('#update_deal_mode').val(data['src_update_deal_mode'])
                        $('#update_deal_remark').val(data['src_update_deal_remark'])
                        $('#update_deal_date').val(data['src_update_deal_date'])
                        $('#update_use').val(data['src_update_use'])
                        $('#updateModal').modal('show')
                    })
                }
            })

            //报废按钮
            $('#scrapModalBtn').click(function () {


                let vaul1 = $('#scrap_sn_input').val()
                if (vaul1 != '') {
                    $('#scrap_sn').val(vaul1)
                    $('#scrap_sn').attr("readonly", "readonly")
                    $('#dealModal').modal('show')
                } else {

                    var checked_boxs = $("#tbody :checked");
                    var delete_ids = "";
                    if (checked_boxs.length < 1) {
                        alert("至少选择一条数据");
                    } else {
                        checked_boxs.each(function () {
                            delete_ids += $(this).val() + "_";
                        });
                        $('#scrap_sn').val(delete_ids)
                        $('#scrap_sn').attr("readonly", "readonly")
                        $('#dealModal').modal('show')

                    }
                }
            })


            // 生成并下载条形码
            $.barcode = function (code) {
                $.post('/one/barcode/', {
                    code: code
                }, function (data, status) {
                    $(body).append('<a id="temporary" class="hidden" href="' + data +
                        '" download></a>');
                    document.getElementById("temporary").click();
                    $("#temporary").remove();
                })
            }

            // 最大二维码
            $.maxBarCode = function () {
                if (confirm("下载条形码?")) {
                    // alert('下载')
                    $.post('/one/max_barcode/', {}, function (data, status) {
                        $(window).attr("location", data);
                    })
                }
            }

            // 失去焦点自动填充
            $('#add_pn').blur(function () {
                $.post('/one/select_for_auto_input/', {
                    add_pn: $.trim($(this).val())
                }, function (data, status) {
                    $('#add_part_name').val(data['src_add_part_name'])
                    $('#add_car_type').val(data['src_add_car_type'])
                    $('#add_producer').val(data['src_add_producer'])
                    $('#add_send_people').val(data['src_add_send_people'])
                    $('#add_contact').val(data['src_add_contact'])
                    $('#add_receive_people').val(data['src_add_receive_people'])
                    $('#add_use').val(data['src_add_use'])
                    $.set_date()
                })
            })

        });
    </script>


</head>

<body id="body">

    <div class="container-fluid">

        <!-- 标题 -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-success text-center">零件登记表</h3>
            </div>
        </div>

        <br>

        <!-- 查询 -->
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" role="form">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">零件号</div>
                            <input type="text" id="select_pn" name="select_pn" value="{{select_pn}}"
                                class="form-control" list="pn_datalist">
                            <datalist id="pn_datalist">
                                <option></option>
                                {% for i in pn %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">零件名称</div>
                            <input type="text" id="select_part_name" name="select_part_name"
                                value="{{select_part_name}}" class="form-control" list="part_name_datalist">
                            <datalist id="part_name_datalist">
                                <option></option>
                                {% for i in part_name %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">车型</div>
                            <input type="text" id="select_car_type" name="select_car_type" class="form-control"
                                list="car_type_datalist" value="{{select_car_type}}">
                            <datalist id="car_type_datalist">
                                <option></option>
                                {% for i in car_type %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">零件用途</div>
                            <input type="text" id="select_use" name="select_use" value="{{select_use}}"
                                class="form-control" list="producer_datalist">
                            <datalist id="producer_datalist">
                                <option></option>
                                {% for i in use %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">到件日期</div>
                            <input type="date" id="select_receive_date" name="select_receive_date"
                                value="{{select_receive_date}}" class="form-control">
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">报废日期</div>
                            <input type="date" id="select_deal_date" name="select_deal_date"
                                value="{{select_deal_date}}" class="form-control">
                        </div>
                    </div> -->

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">接收人</div>
                            <input type="text" id="select_receive_people" name="select_receive_people"
                                value="{{select_receive_people}}" class="form-control" list="receive_people_datalist">
                            <datalist id="receive_people_datalist">
                                <option></option>
                                {% for i in receive_people %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">零件处理</div>
                            <input type="text" id="select_deal_mode" name="select_deal_mode"
                                value="{{select_deal_mode}}" class="form-control" list="deal_mode_datalist">
                            <datalist id="deal_mode_datalist">
                                <option></option>
                                {% for i in deal_mode %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-info" id="clear_select" type="button">清空</button>
                            <button class="btn btn-primary" type="submit">查询</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <br>

        <!-- 增删改查按钮组 -->
        <div class="row">
            <div class="col-md-12">

                <div class="btn-group">
                    <button class="btn btn-primary" data-target="#addModal" data-toggle="modal" type="button">
                        <span class="glyphicon glyphicon-plus"></span> 添加
                    </button>
                    <button class="btn btn-default" id="updateModalBtn" type="button">
                        <span class="glyphicon glyphicon-pencil"></span> 修改
                    </button>
                    <button class=" btn btn-danger" id="delete" type="button" onclick="$.delete('one')">
                        <span class="glyphicon  glyphicon-trash"></span> 删除
                    </button>
                    <button class=" btn btn-info" type="button" onclick="window.location.href='/one/baofei.html/'">
                        <span class="glyphicon glyphicon-minus"></span> 报废历史
                    </button>
                </div>

                <div class="btn-group">
                    <button class="btn btn-success" onclick="window.open('{{file}}')" type="button">
                        <span class="glyphicon glyphicon-export"></span> 导出
                    </button>
                    <!-- <button class="btn btn-default" onclick="window.open('{{scrap_file}}')" type="button">
                        <span class="glyphicon glyphicon-export"></span> 报废清单
                    </button> -->
                </div>

                <button class="btn btn-primary" id="scrapModalBtn"><span
                        class="glyphicon glyphicon-pencil"></span>报废</button>
                <input class="form-control" style="display: inline-block; width: 10%;" ; type="text" name="deal_pn"
                    id="scrap_sn_input">

            </div>

        </div>

        <!-- 表格 -->
        <div class="row">
            <div class="col-md-12">


                <table class="table table-bordered  table-hover table-condensed">
                    <thead>
                        <tr style="background-color:turquoise;">
                            <th><input id="checkboxs" type="checkbox" value="all"></th>
                            <th>序号</th>
                            <th>零件号</th>
                            <th>零件名称</th>
                            <th>车型</th>
                            <th>零件来源/厂家</th>
                            <th>到件时间</th>
                            <th>批次</th>
                            <th>送件人</th>
                            <th>联系方式</th>
                            <th>零件用途</th>
                            <th>接收人</th>
                            <!-- <th>零件处理</th>
                            <th>取走人及电话</th>
                            <th>取走/报废日期</th> -->
                        </tr>
                    </thead>



                    <!-- {{data}} -->

                    <tbody id="tbody">
                        {% for one_data in data %}
                        <tr>
                            <td><input type="checkbox" value="{{one_data.0}}"></td>
                            <td><a href="javascript:void(0)" onclick="$.barcode('{{one_data.1}}')">{{one_data.1}}</a>

                                {% for info in one_data %}

                                {% if forloop.counter == 1 or forloop.counter == 2 %}

                                {% else %}
                            <td>{{info}}</td>
                            {% endif %}


                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


        <!-- 分页 -->
        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <div class="text-center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="javascript:$.func.currentPageHref(1)">首页</a>
                            </li>

                            <li class="active">
                                <a href="javascript:$.func.currentPageHref({{previous_page}})">上一页</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">共{{count}}条记录</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">显示{{pagesize}}条/页</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">当前{{current_page}}/{{last_page}}</a>
                            </li>
                            <li class="active">
                                <a href="javascript:$.func.currentPageHref({{next_page}})">下一页
                                </a>
                            </li>
                            <li>
                                <a href="javascript:$.func.currentPageHref({{last_page}})">末页
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <!-- 创建模态窗口 -->
    <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog" role="document" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">添加信息</h4>
                </div>
                <div class="modal-body">
                    <form action="/one/add/" class="form-horizontal" id="addForm" method="POST"
                        onsubmit="return $.func.check_add_form()" role="form">
                        <input style="display: none;" placeholder="" type="text" class="form-control"
                            id="add_curretn_user" name="add_curretn_user">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">序号</label>
                            <div class="col-sm-5">
                                <input readonly placeholder="自动生成" type="text" class="form-control" id="add_sn"
                                    name="add_sn">
                            </div>

                            <label class="col-sm-1 control-label">批次<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="add_batch" name="add_batch">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">零件号<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="add_pn" name="add_pn"
                                    list="add_pn_datalist">
                                <datalist id="add_pn_datalist">
                                    <option></option>
                                    {% for i in pn %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>

                            <label class="col-sm-1 control-label">送件人<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="add_send_people" name="add_send_people">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">零件名称<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" id="add_part_name" name="add_part_name" class="form-control"
                                    list="add_part_name_datalist">
                                <datalist id="add_part_name_datalist">
                                    <option></option>
                                    {% for i in part_name %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>

                            <label class="col-sm-1 control-label">联系方式<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="add_contact" name="add_contact">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">车型<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" id="add_car_type" name="add_car_type" class="form-control"
                                    list="add_car_type_datalist">
                                <datalist id="add_car_type_datalist">
                                    <option></option>
                                    {% for i in car_type %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>

                            <label class="col-sm-1 control-label">库存数量<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="add_save_count" name="add_save_count">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">零件来源/厂家<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" id="add_producer" name="add_producer" class="form-control"
                                    list="add_producer_datalist">
                                <datalist id="add_producer_datalist">
                                    <option></option>
                                    {% for i in producer %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>

                            <label class="col-sm-1 control-label">接收人<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" id="add_receive_people" name="add_receive_people"
                                    class="form-control" list="add_receive_people_datalist">
                                <datalist id="add_receive_people_datalist">
                                    <option></option>
                                    {% for i in receive_people %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">到件时间<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="date" class="form-control" id="add_receive_date" name="add_receive_date">
                            </div>

                            <label class="col-sm-1 control-label">零件用途<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="add_use" name="add_use">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">关闭
                    </button>
                    <button class="btn btn-success" form="addForm" type="submit">添加</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 修改模态窗口 -->
    <div class="modal fade" id="updateModal" role="dialog">
        <div class="modal-dialog" role="document" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">修改信息</h4>
                </div>
                <div class="modal-body">
                    <form action="/one/update/" class="form-horizontal" id="updateForm" method="POST"
                        onsubmit="return $.func.check_update_form()" role="form">
                        <input style="display: none;" placeholder="" type="text" class="form-control"
                            id="update_curretn_user" name="update_curretn_user">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">序号</label>
                            <div class="col-sm-5">
                                <input readonly type="text" class="form-control" id="update_sn" name="update_sn">
                            </div>

                            <label class="col-sm-1 control-label">联系方式</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="update_contact" name="update_contact">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">零件号<span style="color: red;">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="update_pn" name="update_pn"
                                    list="update_pn_datalist">
                                <datalist id="update_pn_datalist">
                                    <option></option>
                                    {% for i in pn %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>

                            <label class="col-sm-1 control-label">库存数量</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="update_save_count"
                                    name="update_save_count" value="1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">零件名称</label>
                            <div class="col-sm-5">
                                <input type="text" id="update_part_name" name="update_part_name" class="form-control"
                                    list="update_part_name_datalist">
                                <datalist id="update_part_name_datalist">
                                    <option></option>
                                    {% for i in part_name %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <label class="col-sm-1 control-label">报废数量</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="update_deal_count"
                                    name="update_deal_count" value="0">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">车型</label>
                            <div class="col-sm-5">
                                <input type="text" id="update_car_type" name="update_car_type" class="form-control"
                                    list="update_car_type_datalist">
                                <datalist id="update_car_type_datalist">
                                    <option></option>
                                    {% for i in car_type %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <label class="col-sm-1 control-label">接收人</label>
                            <div class="col-sm-5">
                                <input type="text" id="update_receive_people" name="update_receive_people"
                                    class="form-control" list="update_receive_people_datalist">
                                <datalist id="update_receive_people_datalist">
                                    <option></option>
                                    {% for i in receive_people %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">零件来源/厂家</label>
                            <div class="col-sm-5">
                                <input type="text" id="update_producer" name="update_producer" class="form-control"
                                    list="update_producer_datalist">
                                <datalist id="update_producer_datalist">
                                    <option></option>
                                    {% for i in producer %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <label class="col-sm-1 control-label">零件处理</label>
                            <div class="col-sm-5">
                                <input type="text" id="update_deal_mode" name="update_deal_mode" class="form-control"
                                    list="update_deal_mode_datalist">
                                <datalist id="update_deal_mode_datalist">
                                    <option></option>
                                    {% for i in deal_mode %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">到件时间</label>
                            <div class="col-sm-5">
                                <input type="date" class="form-control" id="update_receive_date"
                                    name="update_receive_date">
                            </div>
                            <label class="col-sm-1 control-label">取走人及电话</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="update_deal_remark"
                                    name="update_deal_remark">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">批次</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="update_batch" name="update_batch">
                            </div>
                            <label class="col-sm-1 control-label">取走/报废日期</label>
                            <div class="col-sm-5">
                                <input type="date" class="form-control" id="update_deal_date" name="update_deal_date">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">送件人</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="update_send_people"
                                    name="update_send_people">
                            </div>

                            <label class="col-sm-1 control-label">零件用途</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="update_use" name="update_use">
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">关闭
                    </button>
                    <button class="btn btn-success" form="updateForm" type="submit">修改
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- 报废模态窗口 -->
    <div class="modal fade" id="dealModal" tabindex="-1" role="dialog" aria-labelledby="dealModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dealModalLabel">报废处理</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="/one/scrap/" method="POST" role="form" id="scrapForm">
                        <input style="display: none;" placeholder="" type="text" class="form-control"
                            id="baofei_curretn_user" name="baofei_curretn_user">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">报废编号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="scrap_sn" name="scrap_sn" value="0">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">零件处理</label>
                            <div class="col-sm-10">
                                <input type="text" id="scrap_deal_mode" name="scrap_deal_mode" class="form-control"
                                    list="scrap_deal_mode_datalist">
                                <datalist id="scrap_deal_mode_datalist">
                                    <option></option>
                                    {% for i in deal_mode %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">取走人及电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="scrap_deal_remark" name="scrap_deal_remark">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">取走/报废日期</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="scrap_deal_date" name="scrap_deal_date">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" form="scrapForm" class="btn btn-primary" id="scrap_btn">报废</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>