<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <title>查询</title>
    <style>
        h3 {
            text-align: center;
        }

        h1 {
            text-align: center;
        }

        table {
            white-space: nowrap;
        }

        .btn_group_div {
            margin-top: 300px;
            margin: auto;
            text-align: right;
        }
    </style>
    <script>
        $(function () {
            $('#clear_select').click(function () {
                $('select').val('')
            })
            $('#set_select').click(function () {
                $('#field1').selectpicker({ width: 'calc(100% - 95px)' });
            })


            $('#to_lead').click(function () {
                // alert('导入')
                $(window).attr('location', '/to_lead.html/')

            })
            $('#set_red').click(function () {
                $("td").each(function () {
                    if ($(this).text() === '是') {
                        $(this).parent().css('color', 'red')
                    }
                })
            })
            $('#set_red').click()

            $('#add').click(function () {
                $(window).attr('location', '/add.html')
            })


            $('#refresh').click(function () {
                $(window).attr('location', '/select.html/')
            })

            $('#checkboxs').click(function () {
                if (this.checked === true) {
                    $("#tbody :checkbox").prop("checked", true);
                } else {
                    $("#tbody :checkbox").prop("checked", false);
                }
            })


            $('#update').click(function () {
                var checked_boxs = $("#tbody :checked")
                var update_id = ''
                if (checked_boxs.length != 1) {
                    alert('请选择一条数据')
                } else {
                    checked_boxs.each(function () {
                        update_id += $(this).val()
                    })
                    $(window).attr('location', '/update.html/?update_id=' + update_id)
                }
            })


            $('#delete').click(function () {
                var checked_boxs = $("#tbody :checked")
                var delete_ids = ''
                if (checked_boxs.length < 1) {
                    alert('至少选择一条数据')
                } else {
                    checked_boxs.each(function () {
                        delete_ids += $(this).val() + '_'
                    })
                    $.get('/delete', {
                        delete_ids: delete_ids
                    }, function (data, status) {
                        $('#refresh').click()
                    })
                }
            })

        })
    </script>
</head>

<body>






    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3>
                    按分类搜索
                </h3>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 column">
                <ul class="breadcrumb">
                    <li>
                        <a href="/login.html/">登录</a>
                    </li>
                    <li>
                        <a href="/select.html/">数据</a>
                    </li>
                    <li class="active">
                        Data
                    </li>
                </ul>
            </div>
            <div class="col-md-6 column">
                <div class="btn_group_div">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" id="add" style="display: none;">添加</button>
                        <button type="button" class="btn btn-default" id="update" style="display: none;">修改</button>
                        <button type="button" class="btn btn-default" id="delete" style="display: none;">删除</button>
                        <button type="button" class="btn btn-default" id="refresh" style="display: none;">刷新</button>
                        <button type="button" class="btn btn-default" id="set_red" style="display: none;">设置颜色</button>

                        <button type="button" class="btn btn-default" id="to_lead" style="display: none;">导入</button>
                        <button type="button" class="btn btn-default"><a href="{{file_path}}"
                                download="data.xlsx">导出</a></button>




                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                    <form class="form-inline" role="form" method="POST" action="/choose_select/">
                        <div class="form-group">
                            <label class=" control-label">线别</label>
                            <select class="form-control" name="field1" id="field1">
                                {% if current_field1 %}
                                <option>{{current_field1}}</option>
                                {% endif %}
                                <option></option>
                                {% for i in field1 %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">综合车间</label>
                            <select class="form-control" name="field2" id="field2">
                                {% if current_field2 %}
                                <option>{{current_field2}}</option>
                                {% endif %}
                                <option></option>
                                {% for i in field2 %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">车站及区间名称</label>
                            <select class="form-control" name="field3" id="field3">
                                {% if current_field3 %}
                                <option>{{current_field3}}</option>
                                {% endif %}
                                <option></option>
                                {% for i in field3 %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="field16" class="control-label" >本线</label>
                                <input type="text" class="form-control" name="field16" id="field16" value="{{current_field16}}"/>
                        </div>
                        <div class="form-group">
                            <label for="field17" class=" control-label">邻线</label>
                                <input type="text"  class="form-control" name="field17" id="field17" value="{{current_field17}}" />
                        </div>
                        <div class="form-group">
                            <label class=" control-label">本线是否超限</label>
                            <select class="form-control" name="field21" id="field21">
                                {% if current_field21 %}
                                <option>{{current_field21}}</option>
                                {% endif %}
                                <option></option>
                                <option>是</option>
                                <option>否</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">邻线是否超限</label>
                            <select class="form-control" name="field22" id="field22">
                                {% if current_field22 %}
                                <option>{{current_field22}}</option>
                                {% endif %}
                                <option></option>
                                <option>是</option>
                                <option>否</option>


                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">行别</label>
                            <select class="form-control" name="field23" id="field23">
                                {% if current_field23 %}
                                <option>{{current_field23}}</option>
                                {% endif %}
                                <option></option>
                                {% for i in field23 %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">站内或区间</label>
                            <select class="form-control" name="field24" id="field24">
                                {% if current_field24 %}
                                <option>{{current_field24}}</option>
                                {% endif %}
                                <option></option>
                                {% for i in field24 %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">参考标准</label>
                            <select class="form-control" name="field25" id="field25">
                                {% if current_field25 %}
                                <option>{{current_field25}}</option>
                                {% endif %}
                                <option></option>
                                {% for i in field25 %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">有无防撞墙</label>
                            <select class="form-control" name="field26" id="field26">
                                {% if current_field26 %}
                                <option>{{current_field26}}</option>
                                {% endif %}
                                <option></option>
                                {% for i in field26 %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">建筑设备类型</label>
                            <select class="form-control" name="field27" id="field27">
                                {% if current_field27 %}
                                <option>{{current_field27}}</option>
                                {% endif %}
                                <option></option>
                                {% for i in field27 %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div>
                                <button type="submit" class="btn btn-default" id="choose_selece">查询</button>
                                <button type="button" class="btn btn-default" id="clear_select">清空</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabel_div table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="checkboxs" value="all"></th>
                                <th>顺号</th>
                                <th>线别</th>
                                <th>综合车间</th>
                                <th>车站及区间名称</th>
                                <th>设备名称</th>
                                <th>公里标</th>
                                <th>本线高度</th>
                                <th>距本线中心线距离</th>
                                <th>距邻线中心线距离</th>
                                <th>临线高度</th>
                                <th>曲线半径</th>
                                <th>外轨超高</th>
                                <th>本线曲线内侧</th>
                                <th>本线曲线外侧</th>
                                <th>邻线曲线内侧</th>
                                <th>邻线曲线外侧</th>
                                <th>本线</th>
                                <th>邻线</th>
                                <th>备注</th>
                                <th>本线实测值与标准值之差</th>
                                <th>邻线实测值与标准值之差</th>
                                <th>本线数据是否超限</th>
                                <th>邻线数据是否超限</th>
                                <th>行别</th>
                                <th>站内或区间</th>
                                <th>参考标准</th>
                                <th>有无防撞墙</th>
                                <th>建筑设备类型</th>
                                <th>核对日期</th>
                                <th>核对人</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            {% for i in data %}
                            <tr>
                                <td><input type="checkbox" value="{{i.0}}"></td>
                                <td>{{forloop.counter}}</td>

                                {% for j in i %}
                                {% if forloop.first %}
                                {% else %}
                                <td>{{j}}</td>

                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div style="text-align: center;">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div> -->
</body>

</html>