<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <title>查询</title>
    <style>
        h1 {
            text-align: center;
        }

        table {
            white-space: nowrap;
        }

        .btn_group_div {
            margin-top: 300px;
            margin: auto;
            text-align: right;
        }
    </style>
    <script>
        $(function () {

            (function ($) {
                $.getUrlParam = function (name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) return unescape(r[2]);
                    return null;
                }
            })(jQuery);

            $('#geParam').click(function () {
               
                var param = $.getUrlParam('do')
                // alert(param)
                if (param==='1'){
                    // alert('yuincain ')
                    $('#delete').show();
                }else{
                    // alert(12)
                }
            })
            $('#geParam').click()

            $('#to_lead').click(function () {
                // alert('导入')
                $(window).attr('location', '/to_lead.html/')

            })
            $('#choose_select').click(function () {
                // alert('导入')
                $(window).attr('location', '/choose_select.html/')

            })
            $('#set_red').click(function () {
                $("td").each(function () {
                    if ($(this).text() === '是') {
                        $(this).css('color', 'red')
                        $(this).parent().addClass('danger')
                    }
                })
            })
            $('#set_red').click()

            $('#add').click(function () {
                $(window).attr('location', '/add.html')
            })


            $('#refresh').click(function () {
                $(window).attr('location', '/select.html/')
            })

            $('#checkboxs').click(function () {
                if (this.checked === true) {
                    $("#tbody :checkbox").prop("checked", true);
                } else {
                    $("#tbody :checkbox").prop("checked", false);
                }
            })


            $('#update').click(function () {
                var checked_boxs = $("#tbody :checked")
                var update_id = ''
                if (checked_boxs.length != 1) {
                    alert('请选择一条数据')
                } else {
                    checked_boxs.each(function () {
                        update_id += $(this).val()
                    })
                    $(window).attr('location', '/update.html/?update_id=' + update_id)
                }
            })


            $('#delete').click(function () {
                var checked_boxs = $("#tbody :checked")
                var delete_ids = ''
                if (checked_boxs.length < 1) {
                    alert('至少选择一条数据')
                } else {
                    checked_boxs.each(function () {
                        delete_ids += $(this).val() + '_'
                    })
                    $.get('/delete', {
                        delete_ids: delete_ids
                    }, function (data, status) {
                        $('#refresh').click()
                    })
                }
            })

        })
    </script>
</head>

<body>
    <h1>信号设备建筑接近限界表</h1>
    <div class="btn_group_div">

        <div class="btn-group">

            <button type="button" class="btn btn-default"><a
                    href="/select.html/?page={% if before %}{{before}} {% endif %}">&laquo;</a></button>
            <button type="button" class="btn btn-default"><a href="/select.html/?page=30">1</a></button>
            <button type="button" class="btn btn-default"><a href="/select.html/?page=60">2</a></button>
            <button type="button" class="btn btn-default"><a href="/select.html/?page=90">3</a></button>
            <button type="button" class="btn btn-default"><a href="/select.html/?page=120">4</a></button>
            <button type="button" class="btn btn-default"><a href="/select.html/?page=150">5</a></button>
            <button type="button" class="btn btn-default"><a
                    href="/select.html/?page={% if next %}{{next}} {% endif %}">&raquo;</a></button>
            <button type="button" class="btn btn-default" id="add">添加</button>
            <button type="button" class="btn btn-default" id="update">修改</button>
            <button type="button" class="btn btn-default" id="delete" style="display: none;">删除</button>
            <button type="button" class="btn btn-default" id="refresh">刷新</button>
            <button type="button" class="btn btn-default" id="set_red" style="display: none;">设置颜色</button>
            <button type="button" class="btn btn-default" id="choose_select">查询</button>
            <button type="button" class="btn btn-default" id="geParam" style="display: none;">获取参数</button>
            <button type="button" class="btn btn-default" id="to_lead">导入</button>
            <button type="button" class="btn btn-default"><a href="{{file_path}}" download="data.xlsx">导出</a></button>



        </div>
    </div>
    <div class="tabel_div table-responsive">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkboxs" value="all"></th>
                    <th style="width: 1%;">顺号</th>
                    <th>线别</th>
                    <th>综合车间</th>
                    <th>车站及区间名称</th>
                    <th>设备名称</th>
                    <th>公里标</th>
                    <th>本线高度</th>
                    <th>距本线中心线距离</th>
                    <th>距邻线中心线距离</th>
                    <th>临线高度</th>
                    <th>曲线半径</th>
                    <th>外轨超高</th>
                    <th>本线曲线内侧</th>
                    <th>本线曲线外侧</th>
                    <th>邻线曲线内侧</th>
                    <th>邻线曲线外侧</th>
                    <th>本线</th>
                    <th>邻线</th>
                    <th>备注</th>
                    <th>本线实测值与标准值之差</th>
                    <th>邻线实测值与标准值之差</th>
                    <th>本线数据是否超限</th>
                    <th>邻线数据是否超限</th>
                    <th>行别</th>
                    <th>站内或区间</th>
                    <th>参考标准</th>
                    <th>有无防撞墙</th>
                    <th>建筑设备类型</th>
                    <th>核对日期</th>
                    <th>核对人</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for i in data %}
                <tr>
                    <td><input type="checkbox" value="{{i.0}}"></td>
                    <td>{{forloop.counter}}</td>

                    {% for j in i %}
                    {% if forloop.first %}
                    {% else %}
                    <td>{{j}}</td>

                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>

    </script>
</body>

</html>