<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="/static/bootstrap_3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/pub_css.css" rel="stylesheet" type="text/css" />
    <script src="/static/jquery/jquery-1.11.1-min.js" type="text/javascript"></script>
    <script src="/static/bootstrap_3.3.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/pub_js.js" type="text/javascript"></script>

    <title>导入数据</title>

    <script>
        $(function () {

            // 设置滚动条
            $.set_scroll()
            
        })
    </script>
</head>


<body>
    <div class="container-fluid">
        <!-- 标题 -->
        <div class="row">
            <div class="col-md-12 column">
                <h3 class="text-center">移频轨道测试数据档案</h3>
            </div>
        </div>

        <div class="row">
            <!-- 导航 -->
            <div class="col-md-6 column">
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/index.html/?index=4">首页</a>
                        </li>
                        <li>
                            <a href="/Model4/select.html/">移频轨道测试数据档案</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 表单 -->
            <div class="col-md-6 column">
                <div class="text-left ">
                    <form action="/Model4/check_data/" class="form-inline hidden" enctype="multipart/form-data"
                        id="see_file_form" method="post" role="form">
                        <div class="form-group">
                            <input id="file_for_see" name="file" type="file" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit">查看</button>
                        </div>
                    </form>
                    <form action="/Model4/import_data/" class="form-inline hidden" enctype="multipart/form-data"
                        id="import_file_form" method="post" role="form">
                        <div class="form-group">
                            <input id="file_for_import" name="file" type="file" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit">导入</button>
                        </div>
                    </form>
                    <div class="btn-group">
                        <button class="btn btn-info" id="seeFileBtn" type="button">查看</button>
                        <button class="btn btn-primary" id="importBtn" type="button">导入</button>
                        <button class="btn btn-warning" type="button">状态：{{success}}</button>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 表格 -->
        <div class="row clearfix">
            <div class="col-md-12 column">
                <!-- 表头 -->
                <div id="thead_div">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr >
                                <th rowspan="3"><input id="checkboxs" type="checkbox" value="all"></th>
                                <th rowspan="2">顺号</th>
                                <th rowspan="2">线别</th>
                                <th rowspan="2">车间</th>
                                <th rowspan="2">车站</th>
                                <th rowspan="2">轨道区段名称</th>
                                <th rowspan="2">标称载频HZ</th>
                                <th rowspan="2">区段长度m</th>
                                <th rowspan="2">电容数量</th>
                                <th rowspan="1" colspan="3">室内送端电压(V)</th>
                                <th rowspan="1" colspan="3">室外送端电压(V)</th>
                                <th rowspan="1" colspan="3">室外受端(主轨)电压(V)</th>
                                <th rowspan="1" colspan="7">室内受端(主轨)电压(mV)</th>
                                <th rowspan="1" colspan="5">室内受端(小轨)电压(mV)</th>
                                <th rowspan="2">入口电流(mA)</th>
                                <th rowspan="2">分路残压(轨出1)(mV)</th>
                                <th rowspan="2">送端分线盘位置</th>
                                <th rowspan="2">受端分线盘位置</th>
                                <th rowspan="2">备注</th>


                            </tr>
                            <tr >
                                <th>发送器功出电压</th>
                                <th>模拟网设备侧电压</th>
                                <th>模拟网电缆侧电压</th>
                                <th>匹配变压器电缆侧电压</th>
                                <th>匹配变压器轨面侧电压</th>
                                <th>轨面电压</th>
                                <th>轨面电压</th>
                                <th>匹配变压器轨面侧电压</th>
                                <th>匹配变压器电缆侧电压</th>
                                <th>模拟网电缆侧电压</th>
                                <th>模拟网设备侧电压</th>
                                <th>衰耗器轨入电压</th>
                                <th>衰耗器轨出1电压</th>
                                <th>衰耗器GJ(Z)电压</th>
                                <th>衰耗器GJ(B)电压</th>
                                <th>衰耗器GJ电压</th>
                                <th>衰耗器轨入电压</th>
                                <th>衰耗器轨出2电压</th>
                                <th>衰耗器GJ(Z)电压</th>
                                <th>衰耗器GJ(B)电压</th>
                                <th>衰耗器GJ电压</th>




                            </tr>
                        </thead>
                    </table>
                </div>

                <!-- 表身体 -->
                <div id="tbody_div" class="tbody_div">
                    <table class="table table-bordered table-hover table-condensed ">
                        <tbody id="tbody">
                            {% for i in data %}
                            <tr>
                                <td><input type="checkbox" value="{{i.0}}"></td>
                                <td>{{forloop.counter}}</td>
                                {% for j in i %}
                                {% if forloop.first %}
                                {% else %}
                                <td>{{j}}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>