<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


  <link href="/static/bootstrap_3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="/static/jquery/jquery-1.11.1-min.js"></script>
  <script src="/static/jquery/jquery.cookie.js" type="text/javascript"></script>
  <script src="/static/bootstrap_3.3.0/js/bootstrap.min.js"></script>


  <script type="text/javascript">
    //页面加载完毕
    $(function () {

      $.setusername = function () {
        $('#username').text($.cookie('username'))
        $('#username').append('<span class="caret"></span>')

        let flag = $.cookie('show_add')
        if(flag=='True'){
          $('#setting').removeClass('hidden')
        }
      }
      $.setusername()

      $.set_color = function () {
        //导航中所有文本颜色为黑色
        $("li > a").css("color", "black");
        //给所有的菜单项注册鼠标单击事件
        $("li > a").click(function () {
          //移除所有菜单项的激活状态
          $("li > a").css('background-color', 'transparent')
          $(this).css('background-color', '#d9edf7')
        });
      }
      $.set_color()

      //获取url参数
      $.getUrlParam = function (name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
      }



      //自动判断首页列表并加载
      $.autoload = function () {
        if ($.getUrlParam('index') === '1') {
          $('#index_1').click()
          window.open("/Model/select.html/", "frame");
        } else if ($.getUrlParam('index') === '2') {
          $('#index_2').click()
          window.open("/Model2/select.html/", "frame");
        } else if ($.getUrlParam('index') === '3') {
          $('#index_3').click()
          window.open("/Model3/select.html/", "frame");
        } else if ($.getUrlParam('index') === '4') {
          $('#index_4').click()
          window.open("/Model4/select.html/", "frame");
        } else if ($.getUrlParam('index') === '5') {
          $('#index_5').click()
          window.open("/Model5/zhuye.html/", "frame");
        } else if ($.getUrlParam('index') === '6') {
          $('#index_6').click()
          window.open("/Model6/zhuye.html/", "frame");
        } else if ($.getUrlParam('index') === '7') {
          $('#index_7').click()
          window.open("/Model7/select.html/", "frame");
        } else if ($.getUrlParam('index') === '8') {
          $('#index_8').click()
          window.open("/Model8/select.html/", "frame");
        } else {
          //默认为第五个列表
          $('#index_5').click()
          window.open("/Model5/zhuye.html/", "frame");
        }
      }
      $.autoload()

    });
  </script>
</head>

<body>

  <!-- 标题栏 -->
  <div style="background-color: beige;height: 50px;border-bottom-style: ridge;">
    <div style="display: inline-block; font-size: 26px;position: absolute;top: 5px;">沈阳高铁基础设施段信号基础数据管理平台</div>
    <div style="display: inline-block;position: absolute;right: 100px;top: 7px;">
      <div class="btn-group">
        <button id="username" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">默认
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a id="setting" class="" href="/ModelA/setting.html/"><span class="glyphicon glyphicon-wrench"></span> 系统设置</a>
          </li>
          <li><a data-target="#myInformation" data-toggle="modal" href="javascript:void(0)"><span
                class="glyphicon glyphicon-file"></span> 我的资料</a></li>
          <li><a data-target="#editPwdModal" data-toggle="modal" href="javascript:void(0)"><span
                class="glyphicon glyphicon-edit"></span> 修改密码</a></li>
          <li><a data-target="#exitModal" data-toggle="modal" href="javascript:void(0);"><span
                class="glyphicon glyphicon-off"></span> 退出</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- 导航 -->
  <div style="position: absolute;width: 10%;top: 50px;bottom: 0px;border-right-style: groove;overflow: auto;">
    <ul class="nav nav-stacked nav-pills">
      <li>
        <a id="index_5" href="/Model5/zhuye.html/" target="frame">1.年度测试工作任务表</a>
      </li>
      <li>
        <a id="index_6" href="/Model6/zhuye.html/" target="frame">2.年度维修工作任务表</a>
      </li>
      <li>
        <a id="index_1" href="/Model/select.html/" target="frame">3.信号设备限界档案</a>
      </li>
      <li>
        <a id="index_2" href="/Model2/select.html/" target="frame">4.移频自动闭塞档案</a>
      </li>
      <li>
        <a id="index_3" href="/Model3/select.html/" target="frame">5.ZPW-2000轨道参数表</a>
      </li>
      <li>
        <a id="index_4" href="/Model4/select.html/" target="frame">6.移频轨道测试数据档案</a>
      </li>
      <li>
        <a id="index_7" href="/Model7/select.html/" target="frame">7.仪器仪表台账</a>
      </li>
      <li>
        <a id="index_8" href="/Model8/select.html/" target="frame">8.高速综合检测车检测问题台账</a>
      </li>

    </ul>
  </div>

  <!-- iframe div -->
  <div style="position: absolute;left: 10%;width: 90%;top: 50px;bottom: 0px;">
    <iframe name="frame" width="100%" height="100%" frameborder="0"></iframe>
  </div>



  <!-- 我的资料 -->
  <div class="modal fade" id="myInformation" role="dialog">
    <div class="modal-dialog" role="document" style="width: 30%;">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">我的资料</h4>
        </div>
        <div class="modal-body">
          <div style="position: relative; left: 40px;">
            姓名：<b>彩虹雨</b><br><br>
            登录帐号：<b>rainbow</b><br><br>
            生日：<b>1996-09-16</b><br><br>
            邮箱：<b>1150646501@qq.com</b><br><br>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 修改密码的模态窗口 -->
  <div class="modal fade" id="editPwdModal" role="dialog">
    <div class="modal-dialog" role="document" style="width: 70%;">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">修改密码</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="oldPwd">原密码</label>
              <div class="col-sm-10" style="width: 300px;">
                <input class="form-control" id="oldPwd" style="width: 200%;" type="text">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="newPwd">新密码</label>
              <div class="col-sm-10" style="width: 300px;">
                <input class="form-control" id="newPwd" style="width: 200%;" type="text">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="confirmPwd">确认密码</label>
              <div class="col-sm-10" style="width: 300px;">
                <input class="form-control" id="confirmPwd" style="width: 200%;" type="text">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
          <button class="btn btn-primary" data-dismiss="modal" onclick="window.location.href='../login.html/';"
            type="button">更新
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- 退出系统的模态窗口 -->
  <div class="modal fade" id="exitModal" role="dialog">
    <div class="modal-dialog" role="document" style="width: 30%;">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">离开</h4>
        </div>
        <div class="modal-body">
          <p>您确定要退出系统吗？</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
          <button class="btn btn-primary" data-dismiss="modal" onclick="window.location.href='../login.html';"
            type="button">确定
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>