<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="/static/bootstrap_3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/jquery/jquery-2.0.0-.min.js" type="text/javascript"></script>
    <script src="/static/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="/static/bootstrap_3.3.0/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<script>
    $(function () {

        // 检查表单
        $.check_form = function () {
            $.get_quanduan_info()

            var can_submit = true
            var all_id = ['xianbie', 'chejian', 'chezhan', 'hangbie', 'zhouqi']
            $.each(all_id, function (index, item) {
                var data_value = $.trim($('#' + item).val())
                if (data_value == '') {
                    alert('请完善必填项')
                    can_submit = false
                    return can_submit
                }
            })
            return can_submit
        }

        // 查区段信息
        $.get_quanduan_info = function () {
            let xianbie = $.trim($('#xianbie').val())
            let chezhan = $.trim($('#chezhan').val())
            let quduan = $.trim($('#quduan').val())
            if (xianbie != '' && chezhan != '' && quduan != '') {
                $.get('/Model8/search_fileds_by_quduan/', {
                    xianbie: xianbie,
                    chezhan: chezhan,
                    quduan: quduan
                }, function (data, status) {
                    let zaiping = data['zaiping']
                    let dianrongshuliang = data['dianrongshuliang']
                    let hangbie = data['hangbie']

                    $('#zaiping').val(zaiping)
                    $('#dianrongshuliang').val(dianrongshuliang)
                    $('#hangbie').val(hangbie)
                })
            }
        }

        // 填充数据，空串则可输入，不空则只读
        $.tianchong = function (id_name, data) {
            $('#' + id_name).val(data)
            if (data == '') {
                $('#' + id_name).attr('disabled', false)
            } else {
                $('#' + id_name).attr('disabled', true)
            }
        }
        //   区段名称的失焦事件
        $('#quduan').blur(function () {
            $.get_quanduan_info()
        })
        // 线别的失焦事件
        $('#xianbie').blur(function () {
            $.get_quanduan_info()
        })
        $('#xianbie').change(function () {
            $.get_quanduan_info()
        })
        // 车站的失焦事件
        $('#chezhan').blur(function () {
            $.get_quanduan_info()
        })
        $('#chezhan').change(function () {
            $.get_quanduan_info()
        })
    })
</script>

<body>

    <div class="container-fluid">

        <!-- 标题 -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">修改高速综合检测车检测问题台账</h3>
            </div>
        </div>
        <br>

        <!-- 添加表单 -->
        <div class="row">
            <form id="my_form" onsubmit="return $.check_form()" action="/Model8/update/" method="post">
                <div class="col-md-6 column">
                    <div class="form-group hidden">
                        <label>序号</label>
                        <input type="text" class="form-control" id="auto_id" name="auto_id" value="{{auto_id}}">
                    </div>

                    <div class="form-group">
                        <label>检测发现问题日期</label>
                        <input type="date" class="form-control" id="wentiriqi" name="wentiriqi" value="{{wentiriqi}}">
                    </div>

                    <div class="form-group">
                        <label>线别<span style="color: red;">(必填项)</span></label>
                        <select class="form-control" id="xianbie" name="xianbie">
                            {% if xianbie %}
                            <option>{{xianbie}}</option>
                            {% endif %}
                            <option></option>
                            {% for i in xianbies %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>综合车间<span style="color: red;">(必填项)</span></label>
                        <select class="form-control" id="chejian" name="chejian">
                            {% if chejian %}
                            <option>{{chejian}}</option>
                            {% endif %}
                            <option></option>
                            {% for i in chejians %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>车站<span style="color: red;">(必填项)</span></label>
                        <select class="form-control" id="chezhan" name="chezhan">
                            {% if chezhan %}
                            <option>{{chezhan}}</option>
                            {% endif %}
                            <option></option>
                            {% for i in chezhans %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>区段名称</label>
                        <input type="text" class="form-control" id="quduan" name="quduan" value="{{quduan}}">
                    </div>

                    <div class="form-group">
                        <label>发现问题(不良电容)</label>
                        <input type="text" class="form-control" id="buliangdianrong" name="buliangdianrong"
                            value="{{buliangdianrong}}">
                    </div>

                    <div class="form-group">
                        <label>行别<span style="color: red;">(必填项)</span></label>
                        <select class="form-control" id="hangbie" name="hangbie">
                            {% if hangbie %}
                            <option>{{hangbie}}</option>
                            {% endif %}
                            <option></option>
                            {% for i in hangbies %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>区段电容数量</label>
                        <input type="text" class="form-control" id="dianrongshuliang" name="dianrongshuliang"
                            value="{{dianrongshuliang}}">
                    </div>

                    <div class="form-group">
                        <label>区段载频</label>
                        <select class="form-control" id="zaiping" name="zaiping">
                            {% if zaiping %}
                            <option>{{zaiping}}</option>
                            {% endif %}
                            <option></option>
                            {% for i in zaipings %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>处理日期</label>
                        <input type="date" class="form-control" id="chuliriqi" name="chuliriqi" value="{{chuliriqi}}">
                    </div>

                    <div class="form-group">
                        <label>问题原因</label>
                        <input type="text" class="form-control" id="yuanying" name="yuanying" value="{{yuanying}}">
                    </div>

                    <div class="form-group">
                        <label>处理情况</label>
                        <input type="text" class="form-control" id="chuliqingkuang" name="chuliqingkuang"
                            value="{{chuliqingkuang}}">
                    </div>

                </div>
                <div class="col-md-6 column">
                    <div class="form-group">
                        <label>上报情况</label>
                        <input type="text" class="form-control" id="shangbaoqingkuang" name="shangbaoqingkuang"
                            value="{{shangbaoqingkuang}}">
                    </div>

                    <div class="form-group">
                        <label>周期<span style="color: red;">(必填项)</span></label>
                        <select class="form-control" id="zhouqi" name="zhouqi">
                            {% if zhouqi %}
                            <option>{{zhouqi}}</option>
                            {% endif %}
                            <option></option>
                            {% for i in zhouqis %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>备注</label>
                        <input type="text" class="form-control" id="beizhu" name="beizhu" value="{{beizhu}}">
                    </div>

                    <div class="form-group">
                        <label>整改前电流(A)</label>
                        <input type="number" step="0.01" class="form-control" id="qiandianliu" name="qiandianliu"
                            value="{{qiandianliu}}">
                    </div>

                    <div class="form-group">
                        <label>整改后电流(A)</label>
                        <input type="number" step="0.01" class="form-control" id="houdianliu" name="houdianliu"
                            value="{{houdianliu}}">
                    </div>

                    <div class="form-group">
                        <label>整改前电压(V)</label>
                        <input type="number" step="0.01" class="form-control" id="qiandianya" name="qiandianya"
                            value="{{qiandianya}}">
                    </div>

                    <div class="form-group">
                        <label>整改后电压(V)</label>
                        <input type="number" step="0.01" class="form-control" id="houdianya" name="houdianya"
                            value="{{houdianya}}">
                    </div>

                    <div class="form-group">
                        <label>整改前容值(uf)</label>
                        <input type="number" step="0.1" class="form-control" id="qiandianrong" name="qiandianrong"
                            value="{{qiandianrong}}">
                    </div>

                    <div class="form-group">
                        <label>整改后容值(uf)</label>
                        <input type="number" step="0.1" class="form-control" id="houdianrong" name="houdianrong"
                            value="{{houdianrong}}">
                    </div>

                    <div class="form-group">
                        <label>生产厂家</label>
                        <select class="form-control" id="changjia" name="changjia">
                            {% if changjia %}
                            <option>{{changjia}}</option>
                            {% endif %}
                            <option></option>
                            {% for i in changjias %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>使用时间(年)</label>
                        <input type="text" class="form-control" id="shiyongshijian" name="shiyongshijian"
                            value="{{shiyongshijian}}">
                    </div>

                    <div class="form-group">
                        <label>反馈人</label>
                        <input type="text" class="form-control" id="fankuiren" name="fankuiren" value="{{fankuiren}}">
                    </div>
                </div>
            </form>
        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar" role="toolbar" style="float: right;">
                    <div class="btn-group">
                        <button type="button" onclick="window.location.href = '/Model8/select.html/'"
                            class="btn btn-info">返回</button>
                        <button type="submit" form="my_form" class="btn btn-success">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

</body>

</html>