<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>list属性示例</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default " role="navigation">
        <div class="container-fluid bg-info">
            <div class="navbar-header">
                <a class="navbar-brand" href="/one/select.html/">零件登记表</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/one/select.html/">零件登记表</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/one/select.html/">零件登记表</a>
            </div>
        </div>
    </nav>


</body>

</html>